<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="M365TEST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <M365TEST.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="TenantID" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteSearchKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ColName1" serializeAs="String">
                <value />
            </setting>
            <setting name="ColName2" serializeAs="String">
                <value />
            </setting>
            <setting name="ColName3" serializeAs="String">
                <value />
            </setting>
            <setting name="Val1" serializeAs="String">
                <value />
            </setting>
            <setting name="Val2" serializeAs="String">
                <value />
            </setting>
            <setting name="Val3" serializeAs="String">
                <value />
            </setting>
        </M365TEST.Properties.Settings>
    </userSettings>
</configuration>